<h1>Editing shipment receipt</h1>

<%= render "form", shipment_receipt: @shipment_receipt %>

<br>

<div>
  <%= link_to "Show this shipment receipt", @shipment_receipt %> |
  <%= link_to "Back to shipment receipts", shipment_receipts_path %>
</div>
