<h1>Editing item issuance</h1>

<%= render "form", item_issuance: @item_issuance %>

<br>

<div>
  <%= link_to "Show this item issuance", @item_issuance %> |
  <%= link_to "Back to item issuances", item_issuances_path %>
</div>
