<div id="<%= dom_id goods_order %>">
  <p>
    <strong>Contact channel:</strong>
    <%= goods_order.contact_channel_id %>
  </p>

  <p>
    <strong>Goods order type:</strong>
    <%= goods_order.goods_order_type_id %>
  </p>

  <p>
    <strong>Transportation order:</strong>
    <%= goods_order.transportation_order_id %>
  </p>

</div>
