<h1>Editing goods order</h1>

<%= render "form", goods_order: @goods_order %>

<br>

<div>
  <%= link_to "Show this goods order", @goods_order %> |
  <%= link_to "Back to goods orders", goods_orders_path %>
</div>
