<p style="color: green"><%= notice %></p>

<h1>Goods orders</h1>

<div id="goods_orders">
  <% @goods_orders.each do |goods_order| %>
    <%= render goods_order %>
    <p>
      <%= link_to "Show this goods order", goods_order %>
    </p>
  <% end %>
</div>

<%= link_to "New goods order", new_goods_order_path %>
