<h1>Editing identifier type</h1>

<%= render "form", identifier_type: @identifier_type %>

<br>

<div>
  <%= link_to "Show this identifier type", @identifier_type %> |
  <%= link_to "Back to identifier types", identifier_types_path %>
</div>
