<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Person type:</strong>
    <%= person.person_type_id %>
  </p>

  <p>
    <strong>Liable:</strong>
    <%= person.liable_id %>
  </p>

</div>
