<h1>Editing shipment item</h1>

<%= render "form", shipment_item: @shipment_item %>

<br>

<div>
  <%= link_to "Show this shipment item", @shipment_item %> |
  <%= link_to "Back to shipment items", shipment_items_path %>
</div>
