<div id="<%= dom_id goods_order_detail %>">
  <p>
    <strong>Quantity:</strong>
    <%= goods_order_detail.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= goods_order_detail.price %>
  </p>

</div>
