<h1>Editing goods order detail</h1>

<%= render "form", goods_order_detail: @goods_order_detail %>

<br>

<div>
  <%= link_to "Show this goods order detail", @goods_order_detail %> |
  <%= link_to "Back to goods order details", goods_order_details_path %>
</div>
