<p style="color: green"><%= notice %></p>

<h1>Goods order details</h1>

<div id="goods_order_details">
  <% @goods_order_details.each do |goods_order_detail| %>
    <%= render goods_order_detail %>
    <p>
      <%= link_to "Show this goods order detail", goods_order_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New goods order detail", new_goods_order_detail_path %>
