<h1>Editing identification type</h1>

<%= render "form", identification_type: @identification_type %>

<br>

<div>
  <%= link_to "Show this identification type", @identification_type %> |
  <%= link_to "Back to identification types", identification_types_path %>
</div>
