<h1>Editing reorder guideline</h1>

<%= render "form", reorder_guideline: @reorder_guideline %>

<br>

<div>
  <%= link_to "Show this reorder guideline", @reorder_guideline %> |
  <%= link_to "Back to reorder guidelines", reorder_guidelines_path %>
</div>
