<div id="<%= dom_id good_identification %>">
  <p>
    <strong>Good:</strong>
    <%= good_identification.good_id %>
  </p>

  <p>
    <strong>Identification:</strong>
    <%= good_identification.identification_id %>
  </p>

</div>
