<h1>Editing good identification</h1>

<%= render "form", good_identification: @good_identification %>

<br>

<div>
  <%= link_to "Show this good identification", @good_identification %> |
  <%= link_to "Back to good identifications", good_identifications_path %>
</div>
