<div id="<%= dom_id container %>">
  <p>
    <strong>Description:</strong>
    <%= container.description %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= container.facility_id %>
  </p>

  <p>
    <strong>Container type:</strong>
    <%= container.container_type_id %>
  </p>

</div>
