<h1>Editing product component</h1>

<%= render "form", product_component: @product_component %>

<br>

<div>
  <%= link_to "Show this product component", @product_component %> |
  <%= link_to "Back to product components", product_components_path %>
</div>
