<h1>Editing person type</h1>

<%= render "form", person_type: @person_type %>

<br>

<div>
  <%= link_to "Show this person type", @person_type %> |
  <%= link_to "Back to person types", person_types_path %>
</div>
