<h1>Editing contact mechanism</h1>

<%= render "form", contact_mechanism: @contact_mechanism %>

<br>

<div>
  <%= link_to "Show this contact mechanism", @contact_mechanism %> |
  <%= link_to "Back to contact mechanisms", contact_mechanisms_path %>
</div>
