<div id="<%= dom_id attribute_value %>">
  <p>
    <strong>Name:</strong>
    <%= attribute_value.name %>
  </p>

  <p>
    <strong>Attribute field:</strong>
    <%= attribute_value.attribute_field_id %>
  </p>

</div>
