<h1>Editing attribute field</h1>

<%= render "form", attribute_field: @attribute_field %>

<br>

<div>
  <%= link_to "Show this attribute field", @attribute_field %> |
  <%= link_to "Back to attribute fields", attribute_fields_path %>
</div>
