<h1>Editing identifier</h1>

<%= render "form", identifier: @identifier %>

<br>

<div>
  <%= link_to "Show this identifier", @identifier %> |
  <%= link_to "Back to identifiers", identifiers_path %>
</div>
