<p style="color: green"><%= notice %></p>

<h1>Identifiers</h1>

<div id="identifiers">
  <% @identifiers.each do |identifier| %>
    <%= render identifier %>
    <p>
      <%= link_to "Show this identifier", identifier %>
    </p>
  <% end %>
</div>

<%= link_to "New identifier", new_identifier_path %>
