<div id="<%= dom_id order_item_shipment_item %>">
  <p>
    <strong>Shipment item:</strong>
    <%= order_item_shipment_item.shipment_item_id %>
  </p>

  <p>
    <strong>Order item:</strong>
    <%= order_item_shipment_item.order_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_item_shipment_item.quantity %>
  </p>

</div>
