<h1>Editing order item shipment item</h1>

<%= render "form", order_item_shipment_item: @order_item_shipment_item %>

<br>

<div>
  <%= link_to "Show this order item shipment item", @order_item_shipment_item %> |
  <%= link_to "Back to order item shipment items", order_item_shipment_items_path %>
</div>
