<div id="<%= dom_id shipment_status %>">
  <p>
    <strong>Shipment:</strong>
    <%= shipment_status.shipment_id %>
  </p>

  <p>
    <strong>Shipment status type:</strong>
    <%= shipment_status.shipment_status_type_id %>
  </p>

</div>
