<h1>Editing shipment status</h1>

<%= render "form", shipment_status: @shipment_status %>

<br>

<div>
  <%= link_to "Show this shipment status", @shipment_status %> |
  <%= link_to "Back to shipment statuses", shipment_statuses_path %>
</div>
