<p style="color: green"><%= notice %></p>

<h1>Juancas</h1>

<div id="juancas">
  <% @juancas.each do |juanca| %>
    <%= render juanca %>
    <p>
      <%= link_to "Show this juanca", juanca %>
    </p>
  <% end %>
</div>

<%= link_to "New juanca", new_juanca_path %>
