<div id="<%= dom_id picklist_item %>">
  <p>
    <strong>Picklist:</strong>
    <%= picklist_item.picklist_id %>
  </p>

  <p>
    <strong>Inventory item:</strong>
    <%= picklist_item.inventory_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= picklist_item.quantity %>
  </p>

</div>
