<h1>Editing picklist item</h1>

<%= render "form", picklist_item: @picklist_item %>

<br>

<div>
  <%= link_to "Show this picklist item", @picklist_item %> |
  <%= link_to "Back to picklist items", picklist_items_path %>
</div>
