<h1>New contact mechanism type</h1>

<%= render "form", contact_mechanism_type: @contact_mechanism_type %>

<br>

<div>
  <%= link_to "Back to contact mechanism types", contact_mechanism_types_path %>
</div>
