<div id="<%= dom_id transportation_type %>">
  <p>
    <strong>Description:</strong>
    <%= transportation_type.description %>
  </p>

  <p>
    <strong>Associated costs:</strong>
    <%= transportation_type.associated_costs %>
  </p>

</div>
