<h1>Editing transportation type</h1>

<%= render "form", transportation_type: @transportation_type %>

<br>

<div>
  <%= link_to "Show this transportation type", @transportation_type %> |
  <%= link_to "Back to transportation types", transportation_types_path %>
</div>
