<p style="color: green"><%= notice %></p>

<h1>Transportation types</h1>

<div id="transportation_types">
  <% @transportation_types.each do |transportation_type| %>
    <%= render transportation_type %>
    <p>
      <%= link_to "Show this transportation type", transportation_type %>
    </p>
  <% end %>
</div>

<%= link_to "New transportation type", new_transportation_type_path %>
