<div id="<%= dom_id order_contact_mechanism %>">
  <p>
    <strong>Order:</strong>
    <%= order_contact_mechanism.order_id %>
  </p>

  <p>
    <strong>Contact mechanism:</strong>
    <%= order_contact_mechanism.contact_mechanism_id %>
  </p>

</div>
