<h1>Editing order contact mechanism</h1>

<%= render "form", order_contact_mechanism: @order_contact_mechanism %>

<br>

<div>
  <%= link_to "Show this order contact mechanism", @order_contact_mechanism %> |
  <%= link_to "Back to order contact mechanisms", order_contact_mechanisms_path %>
</div>
