<h1>New order contact mechanism</h1>

<%= render "form", order_contact_mechanism: @order_contact_mechanism %>

<br>

<div>
  <%= link_to "Back to order contact mechanisms", order_contact_mechanisms_path %>
</div>
