<h1>Editing offer detail</h1>

<%= render "form", offer_detail: @offer_detail %>

<br>

<div>
  <%= link_to "Show this offer detail", @offer_detail %> |
  <%= link_to "Back to offer details", offer_details_path %>
</div>
