<div id="<%= dom_id party_contact_mechanism %>">
  <p>
    <strong>Contact mechanism:</strong>
    <%= party_contact_mechanism.contact_mechanism_id %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= party_contact_mechanism.party_id %>
  </p>

</div>
