<h1>Editing container type</h1>

<%= render "form", container_type: @container_type %>

<br>

<div>
  <%= link_to "Show this container type", @container_type %> |
  <%= link_to "Back to container types", container_types_path %>
</div>
