<p style="color: green"><%= notice %></p>

<h1>Container types</h1>

<div id="container_types">
  <% @container_types.each do |container_type| %>
    <%= render container_type %>
    <p>
      <%= link_to "Show this container type", container_type %>
    </p>
  <% end %>
</div>

<%= link_to "New container type", new_container_type_path %>
