<div id="<%= dom_id unit %>">
  <p>
    <strong>Goods order:</strong>
    <%= unit.goods_order_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= unit.location_id %>
  </p>

  <p>
    <strong>Cost of unit:</strong>
    <%= unit.cost_of_unit %>
  </p>

</div>
