<div id="<%= dom_id packaging_content %>">
  <p>
    <strong>Shipment item:</strong>
    <%= packaging_content.shipment_item_id %>
  </p>

  <p>
    <strong>Shipment package:</strong>
    <%= packaging_content.shipment_package_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= packaging_content.quantity %>
  </p>

</div>
