<h1>Editing packaging content</h1>

<%= render "form", packaging_content: @packaging_content %>

<br>

<div>
  <%= link_to "Show this packaging content", @packaging_content %> |
  <%= link_to "Back to packaging contents", packaging_contents_path %>
</div>
