<h1>Editing applicability type</h1>

<%= render "form", applicability_type: @applicability_type %>

<br>

<div>
  <%= link_to "Show this applicability type", @applicability_type %> |
  <%= link_to "Back to applicability types", applicability_types_path %>
</div>
