<div id="<%= dom_id identification %>">
  <p>
    <strong>Value:</strong>
    <%= identification.value %>
  </p>

  <p>
    <strong>Identification type:</strong>
    <%= identification.identification_type_id %>
  </p>

</div>
