<h1>Editing shipment package</h1>

<%= render "form", shipment_package: @shipment_package %>

<br>

<div>
  <%= link_to "Show this shipment package", @shipment_package %> |
  <%= link_to "Back to shipment packages", shipment_packages_path %>
</div>
