<div id="<%= dom_id transportation_order %>">
  <p>
    <strong>Transportation type:</strong>
    <%= transportation_order.transportation_type_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= transportation_order.person_id %>
  </p>

</div>
