<h1>Editing transportation order</h1>

<%= render "form", transportation_order: @transportation_order %>

<br>

<div>
  <%= link_to "Show this transportation order", @transportation_order %> |
  <%= link_to "Back to transportation orders", transportation_orders_path %>
</div>
