<p style="color: green"><%= notice %></p>

<h1>Transportation orders</h1>

<div id="transportation_orders">
  <% @transportation_orders.each do |transportation_order| %>
    <%= render transportation_order %>
    <p>
      <%= link_to "Show this transportation order", transportation_order %>
    </p>
  <% end %>
</div>

<%= link_to "New transportation order", new_transportation_order_path %>
