<div id="<%= dom_id feature %>">
  <p>
    <strong>Description:</strong>
    <%= feature.description %>
  </p>

  <p>
    <strong>Feature type:</strong>
    <%= feature.feature_type_id %>
  </p>

</div>
