<h1>Editing feature applicability</h1>

<%= render "form", feature_applicability: @feature_applicability %>

<br>

<div>
  <%= link_to "Show this feature applicability", @feature_applicability %> |
  <%= link_to "Back to feature applicabilities", feature_applicabilities_path %>
</div>
