<h1>New feature applicability</h1>

<%= render "form", feature_applicability: @feature_applicability %>

<br>

<div>
  <%= link_to "Back to feature applicabilities", feature_applicabilities_path %>
</div>
