<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Containing location:</strong>
    <%= location.containing_location_id %>
  </p>

  <p>
    <strong>Location type:</strong>
    <%= location.location_type_id %>
  </p>

</div>
